body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(24, 24, 24);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #87CEEB;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #87CEEB;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #87CEEB;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #4682B4;
}

.links {
    text-align: center;
    margin-top: 15px;
}

.links a {
    margin: 0 5px;
    text-decoration: none;
    color: #87CEEB;
}

.links a:hover {
    text-decoration: underline;
}