/* src/components/EventPage/EventPage.css */
:root {
  --primary-color: #2C3E50;
  --highlight-color: #2980B9;
  --background-color: #cceeff;
  --button-color: #ffffff;
  --button-border-color: #2C3E50;
  --button-hover-color: #2C3E50;
  --text-color: #2C3E50;
  --font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
}

.event-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--background-color); /* Adjust the background color */
}

.event-page h2 {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.highlight {
  color: var(--highlight-color);
}

.event-button {
  width: 80%;
  max-width: 300px;
  padding: 1rem;
  margin: 0.5rem 0;
  background-color: var(--button-color);
  color: var(--text-color);
  border: 2px solid var(--button-border-color);
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.event-button:hover {
  background-color: var(--button-hover-color);
  color: #ffffff;
}

.event-page p {
  margin-top: 2rem;
  font-size: 1rem;
  color: var(--text-color);
}

.buy-button {
  padding: 1rem 2rem;
  color: var(--text-color);
  
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 180px;
}

.buy-button:hover {
  background-color: var(--button-hover-color);
  color: #ffffff;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%; /* Full width of the page */
  background-color: #000000;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 0; /* Add some padding for better appearance */
  position: fixed; /* Ensure the footer stays at the bottom */
  bottom: 0;
  left: 0;
}
.nav-text {
  font-size: 1rem;
  font-style: italic;
  color: #ffffff;
}
.upcoming{
  font-style: italic;
  font-size: 25px;

}
.event{
  text-align: center;
}



.event-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}



.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center; /* Center text and inline elements like button */
  position: relative;
}

.close-button {
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  background: #Afe7ff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 20px; /* Add padding for better appearance */
}
