/* src/components/EventPage/EventPage.css */
:root {
  --primary-color: #2C3E50;
  --highlight-color: #2980B9;
  --background-color: #cceeff;
  --button-color: #ffffff;
  --button-border-color: #2C3E50;
  --button-hover-color: #2C3E50;
  --text-color: #2C3E50;
  --font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
}

.event-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--background-color); /* Adjust the background color */
}

.event-page h2 {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.highlight {
  color: var(--highlight-color);
}

.event-button {
  width: 80%;
  max-width: 300px;
  padding: 1rem;
  margin: 0.5rem 0;
  background-color: var(--button-color);
  color: var(--text-color);
  border: 2px solid var(--button-border-color);
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.event-button:hover {
  background-color: var(--button-hover-color);
  color: #ffffff;
}

.event-page p {
  margin-top: 2rem;
  font-size: 1rem;
  color: var(--text-color);
}

.buy-button {
  padding: 1rem 2rem;
  background-color: var(--button-color);
  color: var(--text-color);
  border: 2px solid var(--button-border-color);
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.buy-button:hover {
  background-color: var(--button-hover-color);
  color: #ffffff;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  padding: 1rem 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.nav-icon {
  font-size: 1.5rem;
  color: var(--text-color);
  text-decoration: none;
}

.nav-text {
  font-size: 1rem;
  color: var(--text-color);
}
