/* src/components/Calendar/Calendar.css */
.calendar-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #cceeff;
  }
  
  h2 {
    color: #2C3E50;
    margin-bottom: 2rem;
  }
  
  .calendar {
    background-color: #2C3E50;
    padding: 1rem;
    border-radius: 10px;
    color: #fff;
  }
  
  .month {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .days-of-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    margin-bottom: 0.5rem;
  }
  
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
  }
  
  .day {
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .day:hover {
    background-color: #3498db;
  }
  